body
{background-color: #F3BD72;
overflow-x: hidden;}
#voltar {
    display: inline-block;
    background-color: #FFD3EE;
    width: 80px;
    height: 35px;
    position: absolute;
    top: 50px;
    left: 80px;
    border-radius: 0%;
    text-align: center;
    font-size: small;
    text-decoration: none;}
    #voltar:hover {background-color: #fdc7e8;}
  #voltar:active {background-color: #fdddf1;}
  #M {
    display: inline-block;
    background-color: #FFD3EE;
    width: 150px;
    height: 45px;
    position: absolute;
    top: 50px;
    left: 650px;
    border-radius: 0%;
    text-align: center;
    font-size: medium;
    text-decoration: none;}
  #salvar {
    display: inline-block;
    background-color: #FFD3EE;
    width: 100px;
    height: 45px;
    position: absolute;
    top: 700px;
    left: 1400px;
    border-radius: 0%;
    text-align: center;
    font-size: small;
    text-decoration: none;}
    #salvar:hover {background-color: #EFA0AE;}
  #salvar:active {background-color: #fdddf1;}
  #bola1{
    background-color: #EFA0AE;
    height: 555px;
    border-radius: 50%;
    top: 200px;
    width: 37%;
    margin-left: 0px;
    position:absolute;}
    #bola2{
        background-color: #EFA0AE;
        height: 405px;
        border-radius: 50%;
        top: 0px;
        width: 27%;
        margin-left: 1000px;
        position:absolute;}
    #informa{
      position: absolute;
      margin-top: 600px;
      left: 500px;
      }
    h3{
      margin-bottom: 600px;
      margin-left: 500px;
      text-align: center;
    }

    input{
      margin-top: 300px;
      margin-left: 400px;
      position: absolute;
      width: 591px;
      height: 28px;
      background: #FFFFFF;
      border-radius: 20px;
    }
    



